
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<a href="/Account/Login">Sign UP</a>

<hr />


<a href="/Account/Register">Register</a>


<hr />

<a href="/Account/Update">Update</a>

<hr />
<a href="/Account/Delete">Delete</a>

<hr />

<a href="/Account/Display">Display</a>
<hr />
<a href="/Account/demo">Demo</a>



