
@{
    ViewBag.Title = "Msg";
}

<h4>You logged In Successfuly...!!!</h4>

<img src="~/Images/c.jpg" width=200" height="100"/>

<hr />

<ol type="1">
    <li><a>Products</a></li>
    <br />
    <br />
    <li><a>Customers</a></li>
    <br />
    <br />
    <li><a>Dashboard</a></li>
    <br />
    <br />
</ol>


<a href="/Home/Index"><img width="70" height="40" src="~/Images/home.jpg"/></a>



